@import "tailwindcss";

:root {
  --aqua: #a2966d;
  --aqua-2: #a2966d;
  --dark-turquoise: #a2966d;
  --dark-cyan: #a2966d;
  --black: #222;
  --gold: #a2966d;
}

body {
  color: #222;
  background-color: #222;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 60px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

h4 {
  color: #837957;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  color: #a5a5a5;
  margin-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  
}

h6 {
  color: #837957;
  letter-spacing: .3px;
  margin-bottom: 6px;
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  display: block;
}

p {
  color: #615c4b;
  letter-spacing: .6px;
  font-family: Lato, sans-serif;
  font-size: 9px;
  font-weight: 300;
  line-height: 14px;
  display: block;
}

a {
  color: #837957;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

.hero {
  min-height: 640px;
  background-image: linear-gradient(rgba(0, 0, 0, .57), #222), url('../public/City_of_London_681.jpg');
  background-position: 0 0, 28%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.nav-wrapper {
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  width: "100%";
}

.nav-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between; 
}

.menu-button {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  padding: 15px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
}

@media screen and (max-width: 991px) {
  .menu-button {
    display: flex;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #999090;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid #333;
    z-index: 1000;
  }

  .nav-menu.open {
    display: flex;
  }
}

.nav-link {
  color: #837957;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.logo {
  margin-top: 10px;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.logo:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 36px;
  padding: 10px;
  transition: all .2s;
}

.subtitle {
  color: rgba(255, 255, 255, .49);
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 18px;
}

.button {
  color: #837957;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #837957;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  transition: all .2s;
}

.button:hover {
  color: #fff;
  border-color: #fff;
}

.w-button {
  margin-top: 40px;
  margin-bottom: 40px;
}

.section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.content-wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.tab-menu {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

.tab-link {
  color: #999;
  background-color: rgba(0, 0, 0, 0);
}

.tab-link:hover {
  color: #fff;
}

.tab-link.w--current {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #fff;
}

.photo {
  height: 300px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin: 15px 5px;
  display: block;
}

.main-image {
  margin-bottom: 50px;
}

.form {
  width: 60%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.left-column {
  color: #fff;
  padding-right: 40px;
}

.main-heading {
  color: #bdbdbd;
  margin-bottom: 27px;
  font-size: 48px;
  font-weight: 300;
  line-height: 53px;
}

.main-heading.inline {
  display: inline;
}

.main-heading.inline.bolder {
  font-weight: 300;
}

.heading-wrapper {
  text-align: center;
  margin-top: 15px;
  padding-left: 25%;
  padding-right: 25%;
}

.footer-wrapper {
  color: #524e41;
  text-align: center;
  margin-top: 15px;
  padding-left: 25%;
  padding-right: 25%;
  text-transform: none;
  background-color: #222;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  text-decoration: none;
}

.profile-pic {
  width: 90px;
  border-radius: 100%;
  margin-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-me {
  width: 61%;
  margin: 41px auto;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: block;
}

.field {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.input {
  min-height: 50px;
  color: #fff;
  background-color: #4b4b4b;
  border-style: none;
  border-radius: 3px;
  margin-bottom: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: box-shadow .2s;
}

.input:focus {
  box-shadow: inset 0 0 0 2px #00d6b4;
}

.input.text-area {
  min-height: 141px;
}

.secondary-title:hover {
  text-decoration: none;
}

.empty-state {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, .34);
  border-radius: 3px;
  padding: 33px 33px 49px;
}

.no-items-title {
  font-weight: 300;
}

.project-image {
  color: #a2966d;
  border-radius: 3px;
  margin-bottom: 22px;
  transition: opacity .2s;
}

.project-image:hover {
  opacity: .69;
}

.super-heading {
  color: rgba(255, 255, 255, .36);
  text-transform: uppercase;
  font-family: Lato, sans-serif;
}

.testimonial {
  text-align: center;
  margin-bottom: 44px;
  font-weight: 100;
}

.company {
  text-align: center;
}

.testimonial-wrapper {
  text-align: center;
  margin-bottom: 43px;
}

.project-body-copy {
  margin-bottom: 67px;
  margin-left: 12%;
  margin-right: 12%;
}

.success {
  background-color: #00ad92;
  border-radius: 3px;
}

.success-message {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

.main-detail-image {
  max-width: 400px;
  border-radius: 3px;
  margin-bottom: 41px;
}

.category-link {
  letter-spacing: 1px;
  text-decoration: none;
  transition: opacity .2s;
}

.category-link:hover {
  opacity: .67;
  text-decoration: none;
}

.text-block {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
}

.paragraph {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.heading, .heading-2 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.bold-text, .heading-3 {
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 991px) {
  .hero {
    min-height: 520px;
  }

  .hero.about-page {
    min-height: 310px;
  }

  .hero.contact-page {
    min-height: 400px;
  }

  .hero.project-page {
    min-height: 344px;
  }

  .nav {
    border: 1px solid rgba(22, 22, 22, 0);
  }

  .menu-button {
    color: #fff;
    cursor: pointer;
    background-color: rgba(29, 29, 29, 0);
    border: 1px solid rgba(29, 29, 29, 0);
  }

  .menu-button:hover {
    color: #fff;
  }

  .menu-button.w--open {
    background-color: rgb(44, 44, 44);
  }

  .heading-wrapper {
    margin-top: 200px;
  }

  .nav-menu {
    background-color: #292929;
    border: 1px solid #292929;
  }

  .project-body-copy {
    margin-left: 12%;
    margin-right: 12%;
  }

  .container {
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .icon {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .section {
  padding-top: 140px;
  padding-bottom: 20px;
}
}

@media screen and (max-width: 767px) {
  .hero {
    min-height: 420px;
  }

  .hero.small {
    min-height: 280px;
  }

  .hero.about-page {
    min-height: 230px;
  }

  .hero.contact-page {
    min-height: 290px;
  }

  .hero.project-page {
    min-height: 256px;
  }

  .nav {
    padding-top: 0;
  }

  .form {
    width: 80%;
  }

  .left-column {
    padding-right: 10px;
  }

  .main-heading {
    font-size: 38px;
    line-height: 43px;
  }

  .heading-wrapper {
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-me {
    width: 81%;
    margin-top: 0;
  }

  .project-body-copy {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    min-height: 420px;
  }

  .hero.about-page {
    min-height: 193px;
  }

  .hero.project-page {
    min-height: 226px;
  }

  .form {
    width: 90%;
  }

  .heading-wrapper {
    margin-top: 50px;
  }

  .about-me {
    width: 91%;
  }

  .project-body-copy {
    margin-left: 18px;
    margin-right: 18px;
  }

  .main-heading {
    font-size: 28px;
    line-height: 32px;
  }
  .button {
    display: inline-block;
    padding: 9px 18px;
    margin-top: 15%;
  }
}

@media screen and (max-width: 200px) {
  .hero {
    min-height: 420px;
  }

  .hero.about-page {
    min-height: 93px;
  }

  .hero.project-page {
    min-height: 126px;
  }

  .form {
    width: 90%;
  }

  .heading-wrapper {
    margin-top: 50px;
  }

  .about-me {
    width: 91%;
  }

  .project-body-copy {
    margin-left: 18px;
    margin-right: 18px;
  }
   .button {
    display: inline-block;
    padding: 9px 14px;
    margin-top: 5%;
    font-size: 11px;
  }
 .main-heading {
    font-size: 28px;
    line-height: 32px;
  }
}
